@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1,h2,h3{ font-family: "Open Sans", sans-serif}
h1 { 
	max-width: 500px;
	margin: auto;
	width:1605px;
	height:20%;
	background:#406ADD;
	color:#DDCA42;
	margin-bottom:0;
	padding:0.5cm;
	border-style:groove;
	border-width:medium;
	border-radius:20px;

  	background: -webkit-linear-gradient(#333, #eee);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
body {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
}

tr.border_bottom td {
  border-bottom:1pt solid black;
}


.clearfix {
  overflow: auto;
  zoom: 1;
	padding:0.5cm;
	border-style:groove;
	border-width:medium;
	border-radius:20px;

}

.aboutme {
	float:left;
	max-width: 600px;
	position: relative;
  	top: 50%;
  	transform: translateY(100%);

}
#aboutmetitle {
	position: relative;
  	top: 50%;
  	transform: translateY(200%);	
}

#selfimage2{
	background-image: url(pic.jpg);
	background-size: 100% 100%;
	width: 256px;
	height: 300px;
	float: right;
	position: relative;
  	top: 50%;
  	transform: translateY(-20%);

}
.profhist {
	padding:0.5cm;
	border-style:groove;
	border-width:medium;
	border-radius:20px;
		max-width: 1090px;


}
#leftlist {
	margin: 0 auto;
	float: left;

}
#rightlist {
	margin: 0 auto;
	float: left;
}

#sidebar {
	float: left;
	width: 30%;
	font-weight: bold; font-family:  "Open Sans", sans-serif;
	background-color:#D8D4D9;
	padding:0.5cm;
	border-style:groove;
	border-width:medium;
	border-radius:20px;

}

#offers {
	text-align: center;
}
#content {
	float: left;
	width: 60%;
	font-weight: bold; font-family:  "Open Sans", sans-serif;
	
}